<header th:insert="header :: topo"></header>
<main class="d-flex flex-column">
    <section class="container">
        <h1>Lista de Consultas Agendadas</h1>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do Médico</th>
                <th scope="col">Nome do Paciente</th>
                <th scope="col">Convenio</th>
                <th scope="col">Data</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${consultas}">
                <th th:text="${c.id}" scope="row"></th>
                <td th:text="${c.medico.nome}"></td>
                <td th:text="${c.paciente.nome}"></td>
                <td th:text="${c.convenio}"></td>
                <td th:text="${c.data}"></td>
                <td>
                    <a th:href="@{/consultas/editar/{codigo} (codigo=${c.id})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/consultas/excluir/{codigo} (codigo=${c.id})}">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<div th:insert="footer :: rodape"></div>