<header th:insert="header :: topo"></header>
<main class="d-flex flex-column">
    <section class="container">
        <h1>Agendar uma Nova Consultar</h1>
        <form action="#" th:action="@{/consultas/salvar}" th:object="${consulta}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label for="convenio" class="form-label">Convênio: </label>
                <input type="text" class="form-control" th:field="*{convenio}" id="convenio">
            </div>
            <div class="mb-3">
                <label for="medico" class="form-label">Médico: </label>
                <select class="form-select" th:field="*{medico.id}" id="medico">
                    <option value="" selected>Selecione o Medico</option>
                    <option th:each="medico : ${medicos}"
                            th:value="${medico.id}"
                            th:text="${medico.nome}"
                            th:selected="${medico==medicos}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="paciente" class="form-label">Paciente: </label>
                <select class="form-select" th:field="*{paciente.id}" id="paciente">
                    <option value="" selected>Selecione o Paciente</option>
                    <option th:each="paciente : ${pacientes}"
                            th:value="${paciente.id}"
                            th:text="${paciente.nome}"
                            th:selected="${paciente==pacientes}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="data" class="form-label">Data:</label>
                <input type="date" class="form-control" th:field="*{data}" id="data">
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </section>
</main>
<div th:insert="footer :: rodape"></div>