<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="layout :: metaUTF"/>
    <meta th:replace="layout :: metaScale"/>
    <link th:replace="layout :: bootstrap"/>
    <link th:replace="layout :: css"/>
    <title th:replace="layout :: title">Atividade Avaliativa 03</title>
</head>
<body>
<div th:replace="layout :: header"></div>
<main class="d-flex flex-column">
    <section class="container">
        <h1>Cadastrar Novo Medico</h1>
        <form action="#" th:action="@{/medicos/salvar}" th:object="${medico}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="mb-3">
                <label for="nome" class="form-label">Nome: </label>
                <input type="text" class="form-control" id="nome" aria-describedby="nomeHelp" th:field="*{nome}">
                <div id="nomeHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label class="form-check-label" for="especialidadeMedico">Selecione a Especialidade:</label>
                    <select class="form-select" aria-label="Default select example" id="especialidadeMedico" th:field="*{especialidade}" required>
                        <option value="" selected>Selecione a Especialidade</option>
                        <option th:each="esp : ${especialidades}" th:selected="${esp==especialidades}" th:value="${esp.id}" th:text="${esp.nome}"></option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="crm" class="form-label">CRM: </label>
                <input type="text" class="form-control" id="crm" th:field="*{crm}">
            </div>
            <div class="mb-3">
                <label for="consultas" class="form-label">Consultas: </label>
                <select class="form-select" aria-label="Default select example" th:field="*{consultas}" id="consultas">
                    <option value="" selected>Selecione a consultas</option>
                    <option th:each="c : ${consultas}" th:selected="${c==consultas}" th:value="${c.id}" th:text="${c.id}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </section>
</main>
<div th:replace="layout :: footer"></div>
<script th:replace="layout :: bundle"></script>
</body>
</html>