<footer th:fragment="rodape" class="position-relative">
    <section class="fixed-bottom">
        <div class="card">
            <div class="card-header">
                Java Spring Cadastro Medico/Paciente
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Feito com &#10084; e muita empolgação</p>
                    <footer class="blockquote-footer">Wemerson Nino <cite title="Source Title">Faculdade Cotemig - ADS</cite></footer>
                </blockquote>
            </div>
        </div>
    </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>
</footer>