<header th:insert="header :: topo"></header>
<main class="d-flex flex-column">
    <section class="container">
        <h1>Lista de Especialidades Cadastradas</h1>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome da Especialidade</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e : ${especialidades}">
                <th th:text="${e.id}" scope="row"></th>
                <td th:text="${e.nome}"></td>
                <td>
                    <a th:href="@{/especialidades/editar/{codigo} (codigo=${e.id})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/especialidades/excluir/{codigo} (codigo=${e.id})}">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<div th:insert="footer :: rodape"></div>