<header th:insert="header :: topo"></header>
<main class="d-flex flex-column">
    <section class="container">
        <h1>Cadastro de Especialidades Medicas da Clinica</h1>
        <form action="#" th:action="@{/especialidades/salvar}" th:object="${especialidade}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label for="nomeEspecialidade" class="form-label">Nome: </label>
                <input type="text" class="form-control" th:field="*{nome}" id="nomeEspecialidade" aria-describedby="nomeEspecialidadeHelp">
                <div id="nomeEspecialidadeHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </section>
</main>
<div th:insert="footer :: rodape"></div>