<header th:insert="header :: topo"></header>
<main class="d-flex flex-column">
    <section class="container">
        <h1>Cadastrar Novo Paciente</h1>
        <form action="#" th:action="@{/pacientes/salvar}" th:object="${paciente}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label for="nomePaciente" class="form-label">Nome do Paciente</label>
                <input type="text" class="form-control" th:field="*{nome}" id="nomePaciente" aria-describedby="nomePacienteHelp">
                <div id="nomePacienteHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="cpfPaciente" class="form-label">CPF:</label>
                <input type="text" class="form-control" th:field="*{cpf}" id="cpfPaciente">
            </div>
            <div class="mb-3">
                <label class="form-check-label" for="especialidades">Selecione a Especialidade:</label>
                <select class="form-select" aria-label="Default select example" th:field="*{consultas}" id="especialidades">
                    <option value="" selected>Selecione a Especialidade</option>
                    <option th:each="e : ${especialidades}" th:selected="${e==consultas}" th:value="${e.id}" th:text="${e.nome}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-check-label" for="consultasPaciente">Selecione a Consulta:</label>
                <select class="form-select" aria-label="Default select example" th:field="*{consultas}" id="consultasPaciente">
                    <option value="" selected>Selecione a Consulta</option>
                    <option th:each="c : ${consultas}" th:selected="${c==consultas}" th:value="${c.id}" th:text="${c.id}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
</main>
<div th:insert="footer :: rodape"></div>