<div th:insert="header :: topo"></div>
    <section class="container">
        <h1>Lista de Pacientes Cadastrados Na Clínica</h1>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Consultas</th>
                <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${pacientes}">
                <th th:text="${p.id}" scope="row"></th>
                <td th:text="${p.nome}"></td>
                <td th:text="${p.cpf}"></td>
                <td>
                    <ul class="list-group" th:each="p : ${pacientes}">
                        <li class="list-group-item" th:text="${p.nome}"></li>
                    </ul>
                </td>
                <td>
                    <a th:href="@{/pacientes/editar/{codigo} (codigo=${p.id})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/pacientes/excluir/{codigo} (codigo=${p.id})}">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
<div th:insert="footer :: rodape"></div>